	#comments .comment-info a,
	#shipping_method input[type="radio"]:checked+label:before,
	.blog-article-header .entry-meta.blog-header-info .if-item a:hover,
	.blogpreset3 .blog-preset-3 .item-blog .blog-entry-title a:hover,
	.btnblog-readmore:hover,
	.comment-info a,
	.countdown-product .mintie-countdown-item .mintie-count,
	.elementor-widget-container .mintie-entries li.mintie-entry .mintie-recent-post-detail .mintie-recent-post-title:hover,
	.elementor-widget-container .widget_search .wp-block-search__button:hover,
	.elementor-widget-wp-widget-categories ul li a:hover,
	.elementor-widget-wp-widget-categories ul li:hover,
	.elementor-widget-wp-widget-search .search-submit:hover,
	.elementor-widget-wp-widget-tag_cloud .tagcloud a:hover,
	.entry-footer .read-more,
	.entry-meta.blog-header-info .if-item a:hover,
	.form-contact .form-wrapper .indes .red,
	.form-order-label,
	.form-page-contact label span,
	.form-page-contact-2 label span,
	.form-return label span,
	.info-author a:hover,
	.info-blog-change .if-item a:hover,
	.js-search-button:hover,
	.methods input[type="radio"]:checked+label:before,
	.mintie-category-slider-shop .product-category-mintie .category-product-name:hover,
	.mintie-category-slider-shop .product-category-mintie:hover .category-product-name,
	.mintie-entries .mintie-entry .mintie-recent-post-detail .mintie-recent-post-on a:hover,
	.mintie-page-header-shop-box-wrapper .mintie-page-header-shop-box-content .mintie-page-header-shop-box-button:hover,
	.mintie-post-related .entry-meta a:hover,
	.mintie-post-related .read-more-blog a:hover,
	.mintie-product-navigation .wrapper-short .product-short-description .price,
	.mintie-share-product .icons .social:hover,
	.mintie-style-style6 .mintie-add-to-cart-btn,
	.mintie_widget_recent_entries ul li.mintie-entry .mintie-recent-post-detail .mintie-recent-post-title:hover,
	.no-results.not-founds .search-form .search-submit:hover:before,
	.onestores-recent-post-detail .onestores-recent-post-title:hover,
	.price_slider_wrapper .price_slider_amount button[type=submit]:hover,
	.product-categories .current-cat>.accordion-cat-toggle,
	.product-categories .current-cat>.count,
	.product-categories .current-cat>a,
	.product_meta>span a:hover,
	.read-more-link,
	.related-box .post-navigation .nav-links .meta-nav:hover,
	.related-box .post-navigation .nav-links .mintie-article-nav-text,
	.related-box .post-navigation .nav-links .nav-next a span,
	.related-box .post-navigation .nav-links a:hover .mintie-article-nav-text,
	.related-box .post-navigation .nav-links a:hover .title-nav,
	.reviews-summary .rating-average,
	.shop-sidebar .widget .wc-block-product-categories li a:hover,
	.shop-top-bar .mintie-shop-tools .mintie-products-per-page .per-page-variation-wrap a.per-page-variation.active,
	.shop-top-bar .mintie-shop-tools .mintie-products-per-page .per-page-variation-wrap a.per-page-variation:hover,
	.shop-top-bar .woocommerce-result-count span,
	.single .woosc-btn:hover,
	.single .woosw-btn:hover,
	.single-post .blog-article-header .entry-meta.blog-header-info .if-cat a:hover,
	.single-post .blog-article-sum .entry-meta a:hover,
	.single-post .entry-footer .mintie-entry-footer .tagcloud a:hover,
	.single-product .mintie-wc-question .reply-action a:hover,
	.sticky .entry-title:after,
	.sticky-post:after,
	.stock.in-stock,
	.widget .tagcloud a:hover,
	.widget-area .widget_categories ul .current-cat,
	.widget-area .widget_categories ul .current-cat a,
	.widget-area .widget_categories ul li a:hover,
	.widget-area .widget_categories ul li:hover,
	.widget-area .widget_search .wp-block-search__button:hover,
	.widget-products-filter .pf-item .pf-link:hover,
	.widget-products-filter .pf-item.active .pf-link,
	.widget-products-filter.filter-by-button .pf-item .swatch-inner .pf-swatch-filter span:before,
	.widget_layered_nav_filters .mintie-active-filters li a:hover,
	.widget_layered_nav_filters .mintie-active-filters li.mintie-clear-filter a:hover,
	.woobt_total.woobt-total.woobt-text .amount,
	.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link.is-active a,
	.woocommerce-Reviews-title span,
	.woocommerce-breadcrumb a:hover,
	.woocommerce-cart .cart_totals .order-total td,
	.woocommerce-cart .woocommerce-cart-form .product-price .product-name a:hover,
	.woocommerce-currency-switcher-form .dd-container .dd-select .dd-selected,
	.woocommerce-grouped-product-list-item__price ins,
	.woocommerce-loop-product__title:hover h2,
	.woocommerce-order-details .woocommerce-table a:hover,
	.woocommerce-order-details td a:hover,
	.woocommerce-table--order-details tfoot .amount,
	.woocommerce-table--order-details tfoot tr:last-child td>.amount,
	.woosb-products .woosb-product .woosb-price ins .amount bdi,
	.woosb-total span,
	.woosb-total.woosb-text .woocommerce-Price-amount,
	.woosc-area .woosc-inner ins bdi,
	.woosw-list table.woosw-content-items .woosw-content-item .woosw-content-item--name a:hover,
	a.wishlist_products_counter.top_wishlist-heart:hover:before,
	a:hover .autocomplete-suggestion__title,
	a:hover .woocommerce-loop-product__title,
	a:not(.woocommerce-loop-product__link):hover,
	form.woocommerce-checkout .shop_table tfoot .order-total td .woocommerce-Price-amount bdi,
	label .required,
	mintie-post-related .blog-header-info a:hover,
	table.quantity-discount-table .price ins .amount {
		color: #ce373a;
	}

	#sidebar-menu-content .theme-primary-menu a:before,
	#sidebar-menu-content .theme-primary-menu a:hover:before,
	#woosw_copy_btn:hover,
	.blog .blog-article .blog-article-sum .if-cat a:hover,
	.blog-pagination a.page-numbers:hover,
	.blog-pagination span.current,
	.blog-pagination span.current:hover,
	.blog-title a:before,
	.blogpreset2 .item-blog .if-cat a:hover,
	.blogpreset3 .blog-preset-3 .item-blog .entry-thumbnail:hover .if-cat a,
	.blogpreset4 .item-blog .if-cat a:hover,
	.dots-min .slick-active .dots-bullet:after,
	.elementor-widget-wp-widget-tag_cloud .tagcloud a:hover,
	.entry-footer .read-more:hover:after,
	.entry-title a:before,
	.form-contact .form-wrapper .submit-contact,
	.form-newletter-h2 .submit-newletter,
	.form-page-contact .button-submit .submit-contact:focus,
	.form-page-contact .button-submit .submit-contact:hover,
	.form-page-contact-2 .button-submit .submit-contact:focus,
	.form-page-contact-2 .button-submit .submit-contact:hover,
	.form-return .submit-newletter:hover,
	.ht-pagination .page-numbers.current,
	.ht-pagination .page-numbers.current:hover,
	.ht-pagination a.page-numbers:hover,
	.loop-action .product-action-compare a:hover,
	.loop-action .product-action-wishlist a:hover,
	.loop-action .product-quick-view-btn span:hover,
	.menu-layout-1 .theme-primary-menu>li.current-menu-ancestor>a:before,
	.menu-layout-1 .theme-primary-menu>li.current-menu-parent>a:before,
	.mintie-lightbox-button:hover,
	.mintie-page-header-shop-box-wrapper .mintie-page-header-shop-box-content .mintie-page-header-shop-box-button,
	.mintie-post-related .if-cat a:hover,
	.not-found .back-to-home:hover,
	.price_slider_wrapper .ui-widget-header,
	.read-more:after,
	.related-box .post-navigation .nav-links a:hover:before,
	.reviews-summary-buttons .woocommerce-review-btn .button-content-wrapper:hover,
	.scroll-to-top,
	.search-page-blog .blog-article-sum .if-cat a:hover,
	.single .woosc-btn:hover:before,
	.single .woosw-btn:hover:before,
	.submit-form-order,
	.theme-page-links .post-page-numbers.current span,
	.theme-primary-menu li.menu-item-has-children li.current_page_item a:before,
	.widget .tagcloud a:hover,
	.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected,
	.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover,
	.woobt-products .woobt-product,
	.woocommerce-pagination ul .current,
	.woocommerce-pagination ul .page-numbers:not(.current):hover,
	.woocommerce-store-notice,
	.woosw-list .button:hover,
	.wp-block-tag-cloud a:hover {
		background-color: #ce373a;
	}

	.blog-read-more:hover,
	.entry-categories a,
	.has-default-loop-add-to-cart-button .product .added_to_cart:hover,
	.has-default-loop-add-to-cart-button .product .button:hover,
	.loader-circles .circle:nth-child(odd),
	.p-attr-swatch.p-attr-label.active,
	.price_slider_wrapper .ui-slider-handle,
	.quotes,
	.related-box .post-navigation .nav-links .meta-nav:hover,
	.related-box .post-navigation .nav-links a:hover:before,
	.swatch.selected:before,
	.woocommerce-message .button:hover,
	.woosw-list .button:hover,
	blockquote {
		border-color: #ce373a;
	}

	.blog-read-more:hover,
	.woocommerce-currency-switcher-form .dd-container .dd-select .dd-pointer-down {
		border-top-color: #ce373a;
	}

	.single-post .entry-content blockquote {
		border-left-color: #ce373a;
	}

	#woosw_copy_btn:hover,
	.blog .blog-article .blog-article-sum .if-cat a:hover,
	.blog-pagination a.page-numbers:hover,
	.blog-pagination span.current,
	.blog-pagination span.current:hover,
	.blogpreset2 .item-blog .if-cat a:hover,
	.blogpreset3 .blog-preset-3 .item-blog .entry-thumbnail:hover .if-cat a,
	.blogpreset4 .item-blog .if-cat a:hover,
	.crumbs .last-item span,
	.elementor-widget-wp-widget-tag_cloud .tagcloud a:hover,
	.form-contact .form-wrapper .submit-contact,
	.form-newletter-h2 .submit-newletter,
	.form-return .submit-newletter,
	.ht-pagination .page-numbers.current,
	.ht-pagination .page-numbers.current:hover,
	.ht-pagination a.page-numbers:hover,
	.loop-action .product-action-compare a:hover:before,
	.loop-action .product-action-wishlist a:hover:before,
	.loop-action .product-quick-view-btn span:hover:before,
	.mintie-lightbox-button,
	.mintie-page-header-shop-box-wrapper .mintie-page-header-shop-box-content .mintie-page-header-shop-box-button,
	.mintie-post-related .if-cat a:hover,
	.mintie-style-style2 .product-information a:hover,
	.mintie-style-style3 .mintie-add-btn a:hover,
	.nav-item .nav-link.active,
	.nav-pro a:hover,
	.not-found .back-to-home,
	.not-found .back-to-home:hover,
	.onsale,
	.open-label-shop span,
	.reviews-summary-buttons .woocommerce-review-btn .button-content-wrapper,
	.scroll-to-top i,
	.search-page-blog .blog-article-sum .if-cat a:hover,
	.single .woosc-btn:hover:before,
	.single .woosw-btn:hover:before,
	.spacenav-shop:hover i,
	.tns-controls [data-controls]:hover,
	.widget .tagcloud a:hover,
	.widget-area .widget .tagcloud a:hover,
	.widget_layered_nav_filters .mintie-active-filters li a:hover,
	.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected,
	.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover,
	.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item.selected,
	.woocommerce-pagination ul .current,
	.woocommerce-pagination ul .page-numbers:not(.current):hover,
	.woosw-list .button:hover,
	.wp-block-tag-cloud a:hover,
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="file"],
	button {
		color: #ffffff;
	}

	.blog-article .tagcloud a:hover,
	.search-field-404,
	.woocommerce-pagination ul a:hover {
		border-color: #ffffff;
	}

	.form-newletter-footer-v3.newletter-home1 .input-newletter,
	.loop-action .product-action-compare a,
	.loop-action .product-action-wishlist a,
	.loop-action .product-quick-view-btn span,
	.mintie-page-header-shop-box-wrapper .mintie-page-header-shop-box-content .mintie-page-header-shop-box-button:hover,
	.theme-primary-menu:not(.theme-sidebar-menu)>li:not(.menu-item-has-mega-menu) ul {
		background-color: #ffffff;
	}

	#comments .comment-info a:hover,
	#shipping_method input[type="radio"]:checked+label,
	#woosw_copy_btn,
	.blog-pagination .pagination span.current,
	.blogpreset2 .item-blog .if-cat a,
	.blogpreset3 .blog-preset-3 .item-blog .blog-entry-title a,
	.blogpreset4 .item-blog .if-cat a,
	.btnblog-readmore,
	.cart-sidebar-after-cart,
	.cart-sidebar-content .woocommerce-mini-cart__total,
	.category-slider-shop .browse-by-category,
	.comment-author-name,
	.comments-title,
	.comments-title .text-comments,
	.dropdown,
	.elementor-widget-container .mintie-entries li.mintie-entry .mintie-recent-post-detail .mintie-recent-post-title,
	.elementor-widget-container .widget_search .wp-block-search__button,
	.elementor-widget-container .widget_search .wp-block-search__input:focus::placeholder,
	.elementor-widget-wp-widget-categories .elementor-widget-container h5,
	.elementor-widget-wp-widget-mintie-recent-posts .elementor-widget-container h5,
	.elementor-widget-wp-widget-onestores-recent-posts h5,
	.elementor-widget-wp-widget-search .search-submit,
	.elementor-widget-wp-widget-tag_cloud .elementor-widget-container h5,
	.elementor-widget-wp-widget-tag_cloud .tagcloud a,
	.form-newletter-footer-v3 .input-newletter,
	.form-newletter-footer-v3 .input-newletter:focus::placeholder,
	.form-newletter-footer-v3.newletter-home1 .input-newletter:focus::placeholder,
	.form-newletter-h2 input:focus::placeholder,
	.form-page-contact input:focus::placeholder,
	.form-page-contact label,
	.form-return .item input:focus::placeholder,
	.ht-pagination ul .current,
	.loop-action .product-action-compare a:before,
	.loop-action .product-action-wishlist a:before,
	.loop-action .product-quick-view-btn span:before,
	.menu-toggle-btn span,
	.meta_detail>span,
	.methods input[type="radio"]:checked+label,
	.mintie-category-slider-shop .product-category-mintie .category-product-name,
	.mintie-pageheader-shop .shop-description,
	.mintie-pageheader-shop .shop-title,
	.mintie-post-related .read-more-blog a,
	.mintie-post-related .title-related-post,
	.mintie-product-navigation .nav-pro,
	.mintie-style-style6 .mintie-add-to-cart-btn:hover,
	.mintie_widget_recent_entries ul li.mintie-entry .mintie-recent-post-detail .mintie-recent-post-title,
	.no-results.not-founds .search-form .search-field,
	.no-results.not-founds .search-form .search-submit:before,
	.onestores-recent-post-detail .onestores-recent-post-title,
	.price_slider_wrapper .price_slider_amount .price_label .from,
	.price_slider_wrapper .price_slider_amount .price_label .to,
	.product-action button,
	.product-type-variable .variations td,
	.quantity-discount-badge,
	.quantity:not(.hidden) .modify-qty[data-click=minus]:hover,
	.quantity:not(.hidden) .modify-qty[data-click=plus]:hover,
	.related-box .post-navigation .nav-links .nav-next a:hover span,
	.related-box .post-navigation .nav-links .title-nav,
	.related-box .post-navigation .nav-links a:hover .mintie-article-nav-text,
	.sale-div .price-onsale,
	.search-field-404:focus::placeholder,
	.shop-top-bar .mintie-shop-tools .mintie-products-per-page .per-page-variation-wrap a.per-page-variation,
	.shop-top-bar .woocommerce-ordering select,
	.single .woosc-btn,
	.single .woosw-btn,
	.single-post .entry-content blockquote p,
	.single-post .entry-content strong,
	.single-post .entry-footer .mintie-entry-footer .share-social .title-share,
	.single-post .entry-footer .mintie-entry-footer .tagcloud,
	.single-product .mintie-wc-question .reply-action a,
	.variations select,
	.widget a,
	.widget-area .widget .tagcloud a,
	.widget-area .widget_search .wp-block-search__button,
	.widget-area .widget_search .wp-block-search__input:focus::placeholder,
	.woo-variation-swatches.wvs-style-squared .variable-items-wrapper .variable-item.button-variable-item,
	.woobt-product.woobt-product-together.woobt-hide a,
	.woobt_total.woobt-total.woobt-text,
	.woocommerce-Reviews .comment-form-author label,
	.woocommerce-Reviews .comment-form-comment label,
	.woocommerce-Reviews .comment-form-email label,
	.woocommerce-Reviews .comment-form-rating label,
	.woocommerce-cart .woocommerce-cart-form .product-price,
	.woocommerce-cart .woocommerce-cart-form .product-price .product-name a,
	.woocommerce-cart .woocommerce-cart-form tbody .product-quantity,
	.woocommerce-cart .woocommerce-cart-form tbody .product-subtotal,
	.woocommerce-cart .woocommerce-cart-form th,
	.woocommerce-form.woocommerce-form-track-order.track_order .form-row input:focus::placeholder,
	.woocommerce-form.woocommerce-form-track-order.track_order label,
	.woocommerce-grouped-product-list-item__label a,
	.woocommerce-grouped-product-list-item__price,
	.woocommerce-info,
	.woocommerce-order-details .shop_table tr th,
	.woocommerce-review__author,
	.woocommerce-tabs .tabs li a:hover,
	.woocommerce-tabs .tabs li.active a,
	.woosb-products .woosb-product .woosb-price .amount bdi,
	.woosb-products .woosb-product .woosb-price .woosb-price-ori del *,
	.woosb-products .woosb-product .woosb-qty input,
	.woosb-wrap .woosb-text,
	.woosc-area .woosc-inner .woocommerce-Price-amount,
	.woosc-area .woosc-inner .woosc-table .woosc-table-inner .woosc-table-items table tbody tr .td-label,
	.woosc-area .woosc-inner .woosc-table .woosc-table-inner .woosc-table-items table thead tr th a,
	.woosw-list .button,
	.woosw-list table.woosw-content-items .woosw-content-item .woosw-content-item--name a,
	form.woocommerce-checkout .shop_table tbody .cart_item .product-total .woocommerce-Price-amount.amount,
	form.woocommerce-checkout .shop_table tfoot .cart-subtotal bdi,
	input,
	label {
		color: #2d3448;
	}

	.form-newletter-h2 .submit-newletter:hover,
	.form-return .submit-newletter,
	.mintie-lightbox-button,
	.rating-graph .percentage,
	.reviews-summary-buttons .woocommerce-review-btn .button-content-wrapper,
	[class*=hint--]:after {
		background-color: #2d3448;
	}

	#commentform #author:focus,
	#commentform #email:focus,
	#commentform #comment:focus,
	#review_form_wrapper input:focus,
	#woosw_copy_btn,
	.elementor-widget-container .widget_search .wp-block-search__input:focus,
	.form-newletter-footer-v3 .input-newletter:focus,
	.form-newletter-footer-v3.newletter-home1 .input-newletter:focus,
	.form-newletter-h2 input:focus,
	.form-page-contact input:focus,
	.form-return .item input:focus,
	.form-row input[type="email"]:focus,
	.form-row input[type="password"]:focus,
	.form-row input[type="tel"]:focus,
	.form-row input[type="text"]:focus,
	.ht-pagination ul .current,
	.no-results.not-founds .search-form .search-field:focus,
	.search-field-404:focus,
	.search-form .search-field:focus,
	.single-gallery-slider .pro-thumb.tns-nav-active img,
	.variations select,
	.widget-area .widget_search .wp-block-search__input:focus,
	.woobt-product.woobt-product-together.woobt-hide,
	.woosw-list .button,
	input:focus {
		border-color: #2d3448;
	}

	.blogpreset3 .blog-preset-3 .item-blog .entry-content,
	.col-quantity-regular-price .price del .woocommerce-Price-amount bdi,
	.elementor-widget-wp-widget-categories ul li a,
	.product_meta>span .sku,
	.product_meta>span a,
	.reviews-summary .reviews-count,
	.shop-sidebar .widget .wc-block-product-categories li a,
	.shop-top-bar .mintie-shop-tools .mintie-products-per-page .per-page-title,
	.shop-top-bar .mintie-sort-label,
	.shop-top-bar .woocommerce-result-count,
	.single .blog-article-header .blog-header-info .if-date,
	.single .blog-article-header .blog-header-info .if-item a,
	.widget-area .widget_categories ul li a,
	.widget-products-filter li a,
	.woo-sctr-single-product-container .woo-sctr-progress-bar-wrap-container .woo-sctr-progress-bar-message,
	.woobt-product.woobt-product-together.woobt-hide .woobt-price *,
	.woocommerce-form.woocommerce-form-track-order.track_order p,
	.woocommerce-order-details .woocommerce-table a,
	.woocommerce-order-details td a,
	.woosc-area .woosc-inner .woosc-table .woosc-table-inner .woosc-table-items table tbody tr td,
	.woosc-area .woosc-inner del bdi,
	p.stock .available {
		color: #717171;
	}

	#comments input::placeholder,
	#comments textarea::placeholder,
	.blogpreset2 .info-item-blog .blog-header-info-blog,
	.blogpreset2 .info-item-blog .blog-header-info-blog a,
	.blogpreset3 .info-item-blog .blog-header-info-blog,
	.blogpreset3 .info-item-blog .blog-header-info-blog a,
	.blogpreset4 .info-item-blog .blog-header-info-blog,
	.blogpreset4 .info-item-blog .blog-header-info-blog a,
	.comment-author .comment-time,
	.elementor-widget-container .onestores-entries li.onestores-entry .onestores-recent-post-detail .onestores-recent-post-on,
	.elementor-widget-container .widget_search .wp-block-search__input::placeholder,
	.form-newletter-footer-v3 .input-newletter::placeholder,
	.form-newletter-h2 input::placeholder,
	.form-return .item input::placeholder,
	.info-blog-change .entry-meta,
	.info-blog-change .entry-meta a,
	.mintie-category-slider-shop .product-category-mintie .count-category,
	.mintie-post-related .entry-meta a,
	.mintie-product-cats a,
	.onestores-recent-post-detail .onestores-recent-post-on,
	.price_slider_wrapper .price_slider_amount button[type=submit],
	.select2-container--default .select2-selection--single .select2-selection__rendered,
	.single-post .blog-article-sum .entry-meta,
	.single-post .blog-article-sum .entry-meta a,
	.single-post .entry-footer .mintie-entry-footer .tagcloud a,
	.widget-area .widget_search .wp-block-search__input::placeholder,
	.woocommerce-breadcrumb a,
	.woocommerce-form.woocommerce-form-track-order.track_order .form-row input::placeholder,
	.woocommerce-tabs .tabs li a,
	blockquote cite,
	blockquote small,
	form.woocommerce-checkout #customer_details input::placeholder,
	form.woocommerce-checkout .form-row textarea::placeholder,
	mintie-post-related .blog-header-info,
	mintie-post-related .blog-header-info a {
		color: #858585;
	}

	.blog .blog-article .blog-article-sum .if-cat a,
	.blogpreset2 .item-blog .if-cat a,
	.blogpreset3 .blog-preset-3 .item-blog .entry-thumbnail .if-cat a,
	.blogpreset4 .item-blog .if-cat a,
	.mintie-post-related .if-cat a,
	.search-page-blog .blog-article-sum .if-cat a {
		color: #7f6d4d;
		background-color: #faf3e8;
	}

	body {
		font-family: DM Sans;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0.28px;
		line-height: 28px;
		text-transform: none;
		color: #717171;
	}

	.cart-sidebar-title,
	.comment-time,
	.page-title,
	.single-product .product_meta .posted_in,
	.single-product .product_meta .posted_in a,
	.single-product .product_meta .sku_wrapper,
	.single-product .product_meta .sku_wrapper .sku,
	.single-product .product_meta .tagged_as,
	.single-product .product_meta .tagged_as a,
	.tooltip,
	form.woocommerce-checkout .shop_table td,
	form.woocommerce-checkout .shop_table th,
	input,
	select,
	textarea,
	button {
		font-family: DM Sans;
	}

	.cart a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-position-shortcode.ftinvwl-animated,
	.comment-form-rating .stars.selected .active~a,
	.comment-form-rating .stars.selected a:hover~a,
	.comment-form-rating .stars:not(.selected) a:hover~a,
	.search .blog-header-info .if-item a,
	.wp-block-archives li a,
	.wp-block-rss li a {
		color: #717171;
	}

	.category-slider-shop .browse-by-category,
	.form-newletter-footer-v3 .input-newletter::placeholder,
	.form-newletter-h2 input::placeholder,
	.mintie-accordion-product-grid .accordion-header .accordion-title,
	.mintie-pageheader-shop .shop-title,
	.not-found h1.oops,
	.not-found h3.title,
	.reviews-summary .rating-average,
	.single-product .related.products>h2,
	.single-product .upsells.products>h2,
	.woocommerce-tabs .tabs li a,
	.woocommerce-thankyou-order-completed {
		font-family: Playfair Display;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: DM Sans;
		font-weight: 500;
		letter-spacing: 0px;
		line-height: 1.4em;
		color: #2d3448;
	}

	#order_review .shop_table tfoot strong,
	#order_review .shop_table tfoot tr th:first-of-type,
	.blog-article .theme-social-icon a:hover,
	.blog-read-more,
	.product_meta .p-shared>span,
	.shop-sidebar .wcapf-layered-nav .chosen,
	.widget.widget_shopping_cart .woocommerce-mini-cart__total strong,
	.woocommerce-form-coupon-toggle .woocommerce-info,
	.woocommerce-form-login-toggle .woocommerce-info,
	form.woocommerce-checkout .shop_table thead {
		color: #2d3448;
	}

	.sticky-add-to-cart-section .sticky-product-title h6,
	.woocommerce-Reviews #reply-title {
		font-family: DM Sans;
	}

	.blog-read-more {
		border-bottom-color: #2d3448;
	}

	blockquote {
		border-left-color: #2d3448;
	}

	#place_order:hover {
		background-color: #2d3448;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 35px;
	}

	h3 {
		font-size: 36px;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 16px;
	}

	b,
	strong {
		font-weight: 700;
	}

	.topbar,
	.topbar__right .gray {
		color: #2d3448;
	}

	.topbar {
		background-color: #fdf6f0;
	}

	.page-header .container #theme-bread {
		text-align: center;
		padding-top: 80px;
		padding-bottom: 115px;
		padding-left: 0;
		padding-right: 0;
	}

	.page-header {
		margin-bottom: 65px;
		background-image: url("/img/new1/cart-bg.png");
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.woocommerce-breadcrumb {
		color: #2d3448;
	}

	#theme-page-header .page-header .container h1.page-title.entry-title {
		font-family: DM Sans;
		font-size: 48px;
		font-weight: 400;
		letter-spacing: 0.2px;
		line-height: 1.6em;
		text-transform: capitalize;
		color: #2d3448;
		text-align: center;
	}

	.blog-pagination span.current,
	.blog-pagination a.page-numbers,
	.blog-pagination span.current:after,
	.button:not(.mintie-add-to-cart-btn, .cart-sidebar-content .woocommerce-mini-cart__buttons .button:nth-child(1)),
	.cart .single_add_to_cart_button,
	.cart-sidebar-content .woocommerce-mini-cart__buttons .checkout,
	.checkout_coupon.woocommerce-form-coupon .button,
	.elementor-widget-container .widget_search .wp-block-search__input,
	.form-newletter-footer-v3.newletter-home1 .input-newletter,
	.ht-pagination span.current,
	.ht-pagination a.page-numbers,
	.no-results.not-founds .search-form .search-field,
	.not-found .back-to-home,
	.reviews-summary-buttons .woocommerce-review-btn .button-content-wrapper,
	.search-form .search-field-404,
	.search-form .search-submit-404,
	.select2-container,
	.select2-container .select2-selection--single,
	.sticky .item-blog,
	.widget-area .widget_search .wp-block-search__input,
	.woobt-products .woobt-product .woobt-quantity,
	.woobt-quantity-input-minus,
	.woobt-quantity-input-plus,
	.woocommerce-account .edit-account .button.woocommerce-Button.button,
	.woocommerce-account .woocommerce-address-fields .button,
	.woocommerce-cart .cart_totals .checkout-button,
	.woocommerce-cart .woocommerce-cart-form .actions button[type="submit"],
	.woocommerce-pagination ul .page-numbers,
	.woosb-qty-input,
	.woosc-area .woosc-inner .woosc-table .woosc-table-inner .woosc-table-items .button,
	.woosw-area.woosw-area .woosw-content .button,
	.woosw-list .button,
	button,
	button.woocommerce-Button.woocommerce-button.button.woocommerce-form-register__submit,
	button.woocommerce-button.button.woocommerce-form-login__submit,
	form.woocommerce-checkout #order_review,
	input,
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="file"],
	button,
	select,
	select2 {
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
	}

	button:not(.search-submit, .js-search-button, .boostify-menu-toggle-vertical, .slick-arrow, .mintie-arrow, .quick-view-close-btn, .menu-toggle-btn, .single .woosc-btn, .single .woosw-btn, .widget-area .widget_search .wp-block-search__button, .wp-block-search__button, .category-slider-arrow .arrows-prev, .category-slider-arrow .arrows-next, .price_slider_wrapper .price_slider_amount button[type=submit], .mintie-arrows),
	.search-submit-404,
	.woosc-area .woosc-inner .woosc-table .woosc-table-inner .woosc-table-items .button,
	.woosw-area.woosw-area .woosw-content .button,
	.blog-pagination span.current:after,
	.not-found .back-to-home,
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="file"],
	.cart .single_add_to_cart_button,
	.cart-sidebar-content .woocommerce-mini-cart__buttons .checkout,
	.mintie-style-style3 .mintie-add-btn a,
	.woocommerce-cart .woocommerce-cart-form .actions button[type="submit"],
	.woocommerce-cart .cart_totals .checkout-button:hover,
	button.woocommerce-button.button.woocommerce-form-login__submit,
	.checkout_coupon.woocommerce-form-coupon .button,
	button.woocommerce-Button.woocommerce-button.button.woocommerce-form-register__submit,
	.woocommerce-account .edit-account .button.woocommerce-Button.button,
	.woocommerce-account .woocommerce-address-fields .button,
	.mintie-style-style2 .product-information a,
	.tinv-wishlist .tinvwl-buttons-group button,
	.woocommerce-cart .cart_totals .checkout-button,
	.single-product .mintie-wc-question .form-submit input,
	#commentform .attachment-button,
	#commentform #submit,
	#place_order:hover {
		color: #ffffff;
		background-color: #2d3448;
	}

	button:not(.search-submit, .wp-block-search__button, .mintie-arrows, .js-search-button, .boostify-menu-toggle-vertical, .slick-arrow, .mintie-arrow, .quick-view-close-btn, .menu-toggle-btn, .single .woosc-btn, .single .woosw-btn, .price_slider_wrapper .price_slider_amount button, .widget-area .widget_search .wp-block-search__button, .category-slider-arrow .arrows-prev, .category-slider-arrow .arrows-next, .price_slider_wrapper .price_slider_amount button[type=submit], .mintie-arrows):hover,
	.search-submit-404:hover,
	.woosc-area .woosc-inner .woosc-table .woosc-table-inner .woosc-table-items .button:hover,
	.blog-pagination span.current:after,
	.woosw-area.woosw-area .woosw-content .button:hover,
	.not-found .back-to-home:hover,
	.cart-sidebar-content .woocommerce-mini-cart__buttons .checkout:hover,
	.mintie-style-style3 .mintie-add-btn a:hover,
	.woocommerce-cart .woocommerce-cart-form .actions button[type="submit"]:hover,
	button.woocommerce-button.button.woocommerce-form-login__submit:hover,
	.checkout_coupon.woocommerce-form-coupon .button:hover,
	button.woocommerce-Button.woocommerce-button.button.woocommerce-form-register__submit:hover,
	.woocommerce-account .edit-account .button.woocommerce-Button.button:hover,
	.woocommerce-account .woocommerce-address-fields .button:hover,
	.mintie-style-style2 .product-information a:hover,
	#commentform #submit:hover,
	.cart .single_add_to_cart_button:hover,
	.cart-sidebar-content .woocommerce-mini-cart__buttons .checkout:hover,
	.sidebar-action-cart,
	.loop-action a:hover,
	#page-loader #nprogress .ba,
	scroll-to-top,
	.form-contact-wrapp .submit-form,
	ul.products li.product .tinvwl_add_to_wishlist_button:hover,
	.woocommerce-loop-product__title:after,
	.woocommerce-address-fields .button,
	.footer-subscribe-form button,
	.widget.widget_shopping_cart .woocommerce-mini-cart__buttons a,
	.shop-sidebar .woocommerce-widget-layered-nav-dropdown__submit,
	.woocommerce-cart .woocommerce-cart-form .actions button[type="submit"]:hover,
	.woocommerce-form-login button[type="submit"],
	.woocommerce-form-register button[type="submit"],
	.woocommerce-form-coupon button[type="submit"],
	.woocommerce-MyAccount-content .woocommerce-EditAccountForm button[type="submit"],
	.flash-sale-atc a,
	.woocommerce-cart .woocommerce-shipping-calculator button[type="submit"],
	.lost_reset_password button[type="submit"],
	.has-product-load-more-button .load-more-product-btn,
	.tinvwl-table-manage-list button:hover,
	.mintie-lightbox-zoom-button:hover,
	.mintie-lightbox-button:hover,
	.tns-controls [data-controls]:hover,
	.mintie-style-style3 .mintie-add-btn a:hover,
	.widget_layered_nav_filters .mintie-active-filters li:not(.mintie-clear-filter) a:hover,
	.button:active,
	#place_order,
	.nav-pro a:hover,
	.spacenav-shop:hover,
	button.woocommerce-button.button.woocommerce-form-login__submit:hover,
	.checkout_coupon.woocommerce-form-coupon .button:hover,
	button.woocommerce-Button.woocommerce-button.button.woocommerce-form-register__submit:hover,
	.woocommerce-account .edit-account .button.woocommerce-Button.button:hover,
	.woocommerce-account .woocommerce-address-fields .button:hover,
	.woocommerce-message .button:hover,
	#commentform #submit:hover,
	.form-newletter-newletter-gadget .submit-newletter:hover,
	.wpcf7-form-control.wpcf7-submit.submit-contact:hover,
	.tinv-wishlist .tinvwl-buttons-group button:hover,
	.single-product .mintie-wc-question .form-submit input:hover,
	#commentform .attachment-button:hover,
	.woocommerce-cart .cart_totals .checkout-button:hover {
		color: #ffffff;
		background-color: #ce373a;
	}

	.form-row input[type="text"],
	.form-row input[type="tel"],
	.form-row input[type="email"],
	.form-row input[type="password"],
	.not-found .search-form-404 .search-field-404,
	.select2-container,
	.select2-container .select2-selection--single,
	.widget-area .search-field,
	input,
	select2,
	select:not(.orderby, .mintie-search-form__product-categories),
	textarea {
		background-color: #ffffff;
	}

	#commentform #author,
	#commentform #email,
	#commentform #comment,
	.form-row input[type="text"],
	.form-row input[type="tel"],
	.form-row input[type="email"],
	.form-row input[type="password"],
	.form-row textarea,
	.no-results.not-founds .search-form .search-field,
	.quantity:not(.hidden) .qty,
	.select2-container,
	.select2-container .select2-selection--single,
	.select2-container--default .select2-search--dropdown .select2-search__field,
	.select2-dropdown,
	.widget-area .widget_search .wp-block-search__input,
	.woocommerce-account .u-column1,
	.woocommerce-account .u-column2,
	.woocommerce-cart .cart_totals,
	.woocommerce-form.woocommerce-form-track-order.track_order .form-row button,
	.wpcf7-text,
	.wpcf7-textarea,
	form.woocommerce-checkout #order_review,
	input,
	select,
	select2,
	textarea {
		border-color: #e0e0e0;
	}

	.js-search-button,
	.menu-woo-cart,
	.menu-woo-user,
	a.wishlist_products_counter.top_wishlist-heart:before {
		font-family: DM Sans;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0px;
		color: #2d3448;
	}

	.theme-primary-menu>li>a:hover,
	.theme-primary-menu>li.current-menu-ancestor>a,
	.theme-primary-menu>li.current-menu-parent>a,
	.theme-primary-menu>li.current_page_ancestor>a,
	.theme-primary-menu>li.current_page_parent>a,
	.theme-primary-menu>li:hover>a,
	.theme-primary-menu li.current-menu-item>a {
		color: #ce373a;
	}

	.menu-layout .wishlist_products_counter .wishlist_products_counter_number,
	.shop-cart-count,
	.theme-primary-menu>li:not(.menu-item-has-mega-menu) ul a:hover:before,
	.theme-primary-menu>a:before,
	.theme-primary-menu a:hover:before,
	.theme-primary-menu:not(.theme-sidebar-menu) li.current-menu-item>a:before {
		background-color: #ce373a;
	}

	.menu-layout.menu-layout-1.menu-layout--classic {
		background-color: #ffffff;
	}

	.theme-primary-menu>li:not(.menu-item-has-mega-menu) ul a:hover,
	.theme-primary-menu li ul a:hover {
		color: #ce373a;
	}

	.menu-layout--sticky,
	.theme-primary-menu:not(.theme-sidebar-menu)>li:not(.menu-item-has-mega-menu) ul {
		background-color: #ffffff;
	}

	#sidebar-menu-content {
		background-color: #ffffff;
	}

	#sidebar-menu-content .theme-primary-menu a {
		font-family: DM Sans;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 0.24px;
		text-transform: none;
		color: #2d3448;
	}

	#sidebar-menu-content .theme-primary-menu a:hover {
		color: #ce373a;
	}

	.item-blog,
	.blog .blog-article,
	.mintie-post-related {
		text-align: center;
	}

	.blog .widget-area {
		margin-top: -5px;
	}

	.single-post .page-header .container #theme-bread,
	.blog .page-header .container #theme-bread {
		padding-top: 80px;
		padding-bottom: 115px;
		padding-left: 0;
		padding-right: 0;
	}

	.single-post .page-header,
	.blog .page-header {
		margin-bottom: 65px;
		background-image: url("https://mintie.boostifythemes.com/wp-content/uploads/2021/09/bg-breadcrumd.jpg");
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.single-post .woocommerce-breadcrumb {
		color: #2d3448;
	}

	.single-post .page-header .container #theme-bread,
	.single-post #theme-page-header .page-header .container h1.page-title.entry-title,
	.blog .page-header .container #theme-bread,
	.blog #theme-page-header .page-header .container h1.page-title.entry-title {
		text-align: left;
	}

	.single-post .blog-article-sum .entry-title {
		font-family: DM Sans;
		font-size: 36px;
		font-weight: 400;
		letter-spacing: 0px;
		line-height: 47px;
		color: #2d3448;
		text-align: left;
	}

	.content-info-product,
	.mintie-style-style3 {
		text-align: center;
	}

	.woocommerce-loop-product__title {
		font-family: DM Sans;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0.26px;
		line-height: 2;
		color: #2d3448;
	}

	.content-info-product .price {
		font-family: DM Sans;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		color: #717171;
	}

	.content-info-product .price ins {
		font-family: DM Sans;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		color: #ce373a;
	}

	.content-info-product .price del {
		font-family: DM Sans;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
		color: #717171;
	}

	.single-product .page-header .container #theme-bread {
		padding-top: 21px;
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
	}

	.single-product .page-header {
		margin-bottom: 0px;
		background: #ffffff;
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.single-product .woocommerce-breadcrumb {
		color: #2d3448;
	}

	.mintie-pageheader-shop {
		padding-top: 42px;
		padding-bottom: 42px;
		padding-left: 70px;
		padding-right: 70px;
		background-image: url("https://mintie.boostifythemes.com/wp-content/uploads/2021/10/banner-v7.jpg");
		background-color: #f1f1f1;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		align-items: flex-start;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.product-stock-status .sold-available {
		font-family: DM Sans;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0px;
		line-height: 1;
		color: #fff;
	}

	.box-loop-product-stock .loop-product-stock .status-bar {
		background-color: #e8e8e8;
	}

	.box-loop-product-stock .loop-product-stock .sold-bar {
		background-color: #ce373a;
	}

	.onsale {
		background-color: #37ce97;
	}

	.hot-product {
		background-color: #ce373a;
	}

	.mintie-product-label.sold-out-label {
		background-color: #53565e;
	}

	.new-product {
		background-color: #de6922;
	}

	.summary .product_title {
		font-family: DM Sans;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0px;
		line-height: 21px;
		color: #2d3448;
	}

	.summary .price .woocommerce-Price-amount {
		font-family: DM Sans;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0px;
		line-height: 20px;
		color: #2d3448;
	}

	.summary .price ins .woocommerce-Price-amount {
		font-family: DM Sans;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 0px;
		line-height: 24px;
		color: #ce373a;
	}

	.summary .price del .woocommerce-Price-amount {
		font-family: DM Sans;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0px;
		line-height: 24px;
		color: #b1b1b1;
	}

	#theme-footer {
		background: #fff;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.footer-bot {
		text-align: center;
	}

	.theme-logo {
		width: 117px;
	}

	.not-found-404 {
		background-image: url("https://mintie.boostifythemes.com/wp-content/uploads/2021/09/404.jpg");
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	@media (min-width: 992px) {
		.theme-primary-menu>li>a {
			font-family: DM Sans;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0px;
			color: #2d3448;
		}

		.theme-primary-menu .sub-menu a {
			font-family: DM Sans;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0px;
			text-transform: none;
			color: #2d3448;
		}
	}

	@media (min-width: 1024px) {
		.blog .widget-area {
			padding-left: 35px;
			padding-right: 30px;
		}
	}

	@media (min-width: 1600px) {
		.single-post .widget-area {
			padding-left: 43px;
			padding-right: 15px;
			margin-top: -5px;
		}
	}

	/* latin-ext */
	body {
		background-color: #fff !important;
	}