.elementor-926 .elementor-element.elementor-element-af8cc86 iframe {
    height: 600px;
}

.elementor-926 .elementor-element.elementor-element-6ad2f49 {
    margin-top: -27px;
    margin-bottom: 0px;
}

.elementor-926 .elementor-element.elementor-element-b844aff {
    margin-top: 45px;
    margin-bottom: 0px;
}

.elementor-926 .elementor-element.elementor-element-613ce00.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-926 .elementor-element.elementor-element-0c19dba {
    text-align: center;
}

.elementor-926 .elementor-element.elementor-element-0c19dba .elementor-heading-title {
    font-family: "Playfair Display", Sans-serif;
    font-size: 45px;
    font-weight: 400;
}

.elementor-926 .elementor-element.elementor-element-145ebcf {
    text-align: center;
    color: var( --e-global-color-dc16e6d );
    font-family: "DM Sans", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 1.9px;
    width: 527px;
    max-width: 527px;
}

.elementor-926 .elementor-element.elementor-element-145ebcf > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-926 .elementor-element.elementor-element-3dc1789 > .elementor-container {
    max-width: 1190px;
}

.elementor-926 .elementor-element.elementor-element-3dc1789 {
    margin-top: 22px;
    margin-bottom: 70px;
}

.elementor-926 .elementor-element.elementor-element-615d05f .elementor-icon-wrapper {
    text-align: left;
}

.elementor-926 .elementor-element.elementor-element-615d05f.elementor-view-stacked .elementor-icon {
    background-color: #F3F3F3;
    color: var( --e-global-color-primary );
}

.elementor-926 .elementor-element.elementor-element-615d05f.elementor-view-framed .elementor-icon, .elementor-926 .elementor-element.elementor-element-615d05f.elementor-view-default .elementor-icon {
    color: #F3F3F3;
    border-color: #F3F3F3;
}

.elementor-926 .elementor-element.elementor-element-615d05f.elementor-view-framed .elementor-icon, .elementor-926 .elementor-element.elementor-element-615d05f.elementor-view-default .elementor-icon svg {
    fill: #F3F3F3;
}

.elementor-926 .elementor-element.elementor-element-615d05f.elementor-view-framed .elementor-icon {
    background-color: var( --e-global-color-primary );
}

.elementor-926 .elementor-element.elementor-element-615d05f.elementor-view-stacked .elementor-icon svg {
    fill: var( --e-global-color-primary );
}

.elementor-926 .elementor-element.elementor-element-615d05f .elementor-icon {
    font-size: 20px;
    padding: 16px;
}

.elementor-926 .elementor-element.elementor-element-615d05f .elementor-icon i, .elementor-926 .elementor-element.elementor-element-615d05f .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-926 .elementor-element.elementor-element-171a6fc .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-926 .elementor-element.elementor-element-4306fcf {
    color: var( --e-global-color-dc16e6d );
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-926 .elementor-element.elementor-element-4306fcf > .elementor-widget-container {
    margin: -11px 0px 0px 0px;
}

.elementor-926 .elementor-element.elementor-element-570eb87 {
    margin-top: 32px;
    margin-bottom: 0px;
}

.elementor-926 .elementor-element.elementor-element-6713f0b .elementor-icon-wrapper {
    text-align: left;
}

.elementor-926 .elementor-element.elementor-element-6713f0b.elementor-view-stacked .elementor-icon {
    background-color: #F3F3F3;
    color: var( --e-global-color-primary );
}

.elementor-926 .elementor-element.elementor-element-6713f0b.elementor-view-framed .elementor-icon, .elementor-926 .elementor-element.elementor-element-6713f0b.elementor-view-default .elementor-icon {
    color: #F3F3F3;
    border-color: #F3F3F3;
}

.elementor-926 .elementor-element.elementor-element-6713f0b.elementor-view-framed .elementor-icon, .elementor-926 .elementor-element.elementor-element-6713f0b.elementor-view-default .elementor-icon svg {
    fill: #F3F3F3;
}

.elementor-926 .elementor-element.elementor-element-6713f0b.elementor-view-framed .elementor-icon {
    background-color: var( --e-global-color-primary );
}

.elementor-926 .elementor-element.elementor-element-6713f0b.elementor-view-stacked .elementor-icon svg {
    fill: var( --e-global-color-primary );
}

.elementor-926 .elementor-element.elementor-element-6713f0b .elementor-icon {
    font-size: 20px;
    padding: 16px;
}

.elementor-926 .elementor-element.elementor-element-6713f0b .elementor-icon i, .elementor-926 .elementor-element.elementor-element-6713f0b .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-926 .elementor-element.elementor-element-2d001c6 .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-926 .elementor-element.elementor-element-77a91e4 {
    color: var( --e-global-color-dc16e6d );
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-926 .elementor-element.elementor-element-77a91e4 > .elementor-widget-container {
    margin: -11px 0px 0px 0px;
}

.elementor-926 .elementor-element.elementor-element-f1565fe {
    margin-top: 32px;
    margin-bottom: 0px;
}

.elementor-926 .elementor-element.elementor-element-1ccab0b .elementor-icon-wrapper {
    text-align: left;
}

.elementor-926 .elementor-element.elementor-element-1ccab0b.elementor-view-stacked .elementor-icon {
    background-color: #F3F3F3;
    color: var( --e-global-color-primary );
}

.elementor-926 .elementor-element.elementor-element-1ccab0b.elementor-view-framed .elementor-icon, .elementor-926 .elementor-element.elementor-element-1ccab0b.elementor-view-default .elementor-icon {
    color: #F3F3F3;
    border-color: #F3F3F3;
}

.elementor-926 .elementor-element.elementor-element-1ccab0b.elementor-view-framed .elementor-icon, .elementor-926 .elementor-element.elementor-element-1ccab0b.elementor-view-default .elementor-icon svg {
    fill: #F3F3F3;
}

.elementor-926 .elementor-element.elementor-element-1ccab0b.elementor-view-framed .elementor-icon {
    background-color: var( --e-global-color-primary );
}

.elementor-926 .elementor-element.elementor-element-1ccab0b.elementor-view-stacked .elementor-icon svg {
    fill: var( --e-global-color-primary );
}

.elementor-926 .elementor-element.elementor-element-1ccab0b .elementor-icon {
    font-size: 20px;
    padding: 16px;
}

.elementor-926 .elementor-element.elementor-element-1ccab0b .elementor-icon i, .elementor-926 .elementor-element.elementor-element-1ccab0b .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-926 .elementor-element.elementor-element-ff1e3ca .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-926 .elementor-element.elementor-element-13a6ceb {
    color: var( --e-global-color-dc16e6d );
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-926 .elementor-element.elementor-element-13a6ceb > .elementor-widget-container {
    margin: -11px 0px 0px 0px;
}

.elementor-926 .elementor-element.elementor-element-4e649ed .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.28px;
}

.elementor-926 .elementor-element.elementor-element-5f4590a > .elementor-widget-container {
    margin: -3px 0px 0px 0px;
}

@media(max-width: 1024px) {
    .elementor-926 .elementor-element.elementor-element-af8cc86 iframe {
        height:500px;
    }

    .elementor-926 .elementor-element.elementor-element-6ad2f49 {
        margin-top: -15px;
        margin-bottom: 0px;
    }

    .elementor-926 .elementor-element.elementor-element-b844aff {
        padding: 0px 10px 0px 10px;
    }

    .elementor-926 .elementor-element.elementor-element-3dc1789 {
        padding: 0px 10px 0px 10px;
    }
}

@media(min-width: 768px) {
    .elementor-926 .elementor-element.elementor-element-4772c05 {
        width:27.924%;
    }

    .elementor-926 .elementor-element.elementor-element-f19ea06 {
        width: 23%;
    }

    .elementor-926 .elementor-element.elementor-element-6ea2297 {
        width: 76.997%;
    }

    .elementor-926 .elementor-element.elementor-element-6a5aa14 {
        width: 23%;
    }

    .elementor-926 .elementor-element.elementor-element-7e159ce {
        width: 76.997%;
    }

    .elementor-926 .elementor-element.elementor-element-b17b4c7 {
        width: 23%;
    }

    .elementor-926 .elementor-element.elementor-element-b66a643 {
        width: 76.997%;
    }

    .elementor-926 .elementor-element.elementor-element-1e70a6c {
        width: 5.641%;
    }

    .elementor-926 .elementor-element.elementor-element-11f9f69 {
        width: 65.767%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-926 .elementor-element.elementor-element-4772c05 {
        width:40%;
    }

    .elementor-926 .elementor-element.elementor-element-11f9f69 {
        width: 60%;
    }
}
