.elementor-23 .elementor-element.elementor-element-0d12b0c>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-35e55e6:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-35e55e6>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-35e55e6>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 10px 10px 10px;
}

.elementor-23 .elementor-element.elementor-element-35e55e6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-99607fe .elementor-icon-wrapper {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-99607fe .elementor-icon {
    font-size: 50px;
}

.elementor-23 .elementor-element.elementor-element-99607fe .elementor-icon i,
.elementor-23 .elementor-element.elementor-element-99607fe .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-23 .elementor-element.elementor-element-99607fe>.elementor-widget-container {
    margin: 0px 0px -9px 0px;
}

.elementor-23 .elementor-element.elementor-element-b710be3 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-b710be3 .elementor-heading-title {
    font-family: "Playfair Display", Sans-serif;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0px;
}

.elementor-23 .elementor-element.elementor-element-b710be3>.elementor-widget-container {
    margin: -12px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-dc9c27a {
    margin-top: 10px;
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-288b82f {
    text-align: center;
    color: var(--e-global-color-primary);
    font-family: "DM Sans", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 1.8px;
}

.elementor-23 .elementor-element.elementor-element-d96b0dd {
    margin-top: 22px;
    margin-bottom: 30px;
}

.elementor-23 .elementor-element.elementor-element-278b661>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-23 .elementor-element.elementor-element-f475b95 .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
}

.elementor-23 .elementor-element.elementor-element-f475b95>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-46e353a {
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6em;
    width: 374px;
    max-width: 374px;
}

.elementor-23 .elementor-element.elementor-element-46e353a>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-a799a02 {
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
    width: 374px;
    max-width: 374px;
}

.elementor-23 .elementor-element.elementor-element-a799a02>.elementor-widget-container {
    margin: 13px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-7a6c77c .elementor-button {
    font-family: "DM Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var(--e-global-color-secondary);
    border-radius: 50px 50px 50px 50px;
    padding: 13px 23px 13px 23px;
}

.elementor-23 .elementor-element.elementor-element-7a6c77c .elementor-button:hover,
.elementor-23 .elementor-element.elementor-element-7a6c77c .elementor-button:focus {
    color: #FFFFFF;
    background-color: var(--e-global-color-primary);
}

.elementor-23 .elementor-element.elementor-element-7a6c77c .elementor-button:hover svg,
.elementor-23 .elementor-element.elementor-element-7a6c77c .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-7a6c77c>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-bf6d959 {
    text-align: left;
}

.elementor-23 .elementor-element.elementor-element-bf6d959>.elementor-widget-container {
    margin: 48px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-9e541cd>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-22a4ed3>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-649e31e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-649e31e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FAF3E8;
}

.elementor-23 .elementor-element.elementor-element-649e31e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-649e31e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-68abaa8 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-68abaa8 .elementor-heading-title {
    font-family: "Playfair Display", Sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
}

.elementor-23 .elementor-element.elementor-element-68abaa8>.elementor-widget-container {
    margin: 58px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-06ae09e>.elementor-container {
    max-width: 1190px;
}

.elementor-23 .elementor-element.elementor-element-06ae09e {
    margin-top: 0px;
    margin-bottom: 12px;
}

.elementor-23 .elementor-element.elementor-element-5ef9e69 {
    text-align: center;
    color: var(--e-global-color-primary);
    font-family: "DM Sans", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 1.8px;
}

.elementor-23 .elementor-element.elementor-element-3f3b162>.elementor-container {
    max-width: 1190px;
}

.elementor-23 .elementor-element.elementor-element-3f3b162 {
    margin-top: 0px;
    margin-bottom: 27px;
}

.elementor-23 .elementor-element.elementor-element-c9f55ea.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-23 .elementor-element.elementor-element-436000a .elementor-icon-wrapper {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-436000a .elementor-icon {
    font-size: 160px;
}

.elementor-23 .elementor-element.elementor-element-436000a .elementor-icon i,
.elementor-23 .elementor-element.elementor-element-436000a .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-23 .elementor-element.elementor-element-16a66b3 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-16a66b3 .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.elementor-23 .elementor-element.elementor-element-16a66b3>.elementor-widget-container {
    margin: 9px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-248840e {
    text-align: center;
    color: var(--e-global-color-dc16e6d);
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 284px;
    max-width: 284px;
}

.elementor-23 .elementor-element.elementor-element-248840e>.elementor-widget-container {
    margin: -5px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-9400dd1.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-23 .elementor-element.elementor-element-21266b1 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-21266b1 .elementor-icon {
    font-size: 160px;
}

.elementor-23 .elementor-element.elementor-element-21266b1 .elementor-icon i,
.elementor-23 .elementor-element.elementor-element-21266b1 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-23 .elementor-element.elementor-element-8c4bb67 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-8c4bb67 .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.elementor-23 .elementor-element.elementor-element-8c4bb67>.elementor-widget-container {
    margin: 9px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-f09242b {
    text-align: center;
    color: var(--e-global-color-dc16e6d);
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 284px;
    max-width: 284px;
}

.elementor-23 .elementor-element.elementor-element-f09242b>.elementor-widget-container {
    margin: -5px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-f075dbe.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-23 .elementor-element.elementor-element-38b2727 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-38b2727 .elementor-icon {
    font-size: 160px;
}

.elementor-23 .elementor-element.elementor-element-38b2727 .elementor-icon i,
.elementor-23 .elementor-element.elementor-element-38b2727 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-23 .elementor-element.elementor-element-fec5cc6 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-fec5cc6 .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.elementor-23 .elementor-element.elementor-element-fec5cc6>.elementor-widget-container {
    margin: 9px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-91011fa {
    text-align: center;
    color: var(--e-global-color-dc16e6d);
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 284px;
    max-width: 284px;
}

.elementor-23 .elementor-element.elementor-element-91011fa>.elementor-widget-container {
    margin: -5px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-3005d81>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-ddadd13>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-ddadd13 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-ddadd13>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-9a3ae79:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-9a3ae79>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-9a3ae79>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-9a3ae79>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-6c81c74>.elementor-container {
    max-width: 1190px;
}

.elementor-23 .elementor-element.elementor-element-6c81c74 {
    margin-top: 14px;
    margin-bottom: 0px;
}

.elementor-23 .elementor-element.elementor-element-84493c5 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-84493c5 .elementor-icon {
    font-size: 50px;
}

.elementor-23 .elementor-element.elementor-element-84493c5 .elementor-icon i,
.elementor-23 .elementor-element.elementor-element-84493c5 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-23 .elementor-element.elementor-element-84493c5>.elementor-widget-container {
    margin: 0px 0px -9px 0px;
}

.elementor-23 .elementor-element.elementor-element-8b20b36 {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-8b20b36 .elementor-heading-title {
    font-family: "Playfair Display", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0px;
}

.elementor-23 .elementor-element.elementor-element-8b20b36>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-0432fdc .countdown-mintie-widget {
    justify-content: center;
}

.elementor-23 .elementor-element.elementor-element-0432fdc .countdown-mintie-widget .container-box-countdown {
    background-color: #f7ede5;
    padding: 12px 10px 8px 10px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-23 .elementor-element.elementor-element-0432fdc .mintie-countdown-digit {
    color: #7f6d4d;
    font-size: 30px;
}

.elementor-23 .elementor-element.elementor-element-0432fdc .mintie-countdown-wrapper.nomal .mintie-countdown-item:after {
    color: #7f6d4d;
}

.elementor-23 .elementor-element.elementor-element-0432fdc .mintie-countdown-wrapper.border .mintie-countdown-item .mintie-countdown-digit:after {
    color: #7f6d4d;
}

.elementor-23 .elementor-element.elementor-element-0432fdc .mintie-countdown-label {
    margin-top: 0px;
}

.elementor-23 .elementor-element.elementor-element-0432fdc>.elementor-widget-container {
    margin: 26px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-dca9cd2 .woocommerce-loop-product__title {
    margin-top: 20px;
}

.elementor-23 .elementor-element.elementor-element-dca9cd2 .product-slider-dots .slick-dots {
    margin-top: -5px;
}

.elementor-23 .elementor-element.elementor-element-dca9cd2 .product-slider-dots .dots-bullet:after {
    background-color: var(--e-global-color-primary);
}

.elementor-23 .elementor-element.elementor-element-dca9cd2 .slick-slide {
    margin: 0 15px;
}

.elementor-23 .elementor-element.elementor-element-dca9cd2 .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}

.elementor-23 .elementor-element.elementor-element-dca9cd2>.elementor-widget-container {
    margin: 28px 0px 50px 0px;
}

.elementor-23 .elementor-element.elementor-element-d565763>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-d565763 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-d565763>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-f711453:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-f711453>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: hsl(0, 0%, 100%);
    background-image: url("/img/new1/sales-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-23 .elementor-element.elementor-element-f711453>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 78px 10px 155px 10px;
}

.elementor-23 .elementor-element.elementor-element-f711453>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-c7b7fdb {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-c7b7fdb .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.elementor-23 .elementor-element.elementor-element-b1e133a {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-b1e133a>.elementor-widget-container {
    margin: -2px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-0ddc93a .elementor-button {
    font-family: "DM Sans", Sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var(--e-global-color-secondary);
    border-radius: 50px 50px 50px 50px;
    padding: 13px 26px 13px 26px;
}

.elementor-23 .elementor-element.elementor-element-0ddc93a .elementor-button:hover,
.elementor-23 .elementor-element.elementor-element-0ddc93a .elementor-button:focus {
    color: #FFFFFF;
    background-color: var(--e-global-color-primary);
}

.elementor-23 .elementor-element.elementor-element-0ddc93a .elementor-button:hover svg,
.elementor-23 .elementor-element.elementor-element-0ddc93a .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-7716571>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-2610d06:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-2610d06>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-2610d06>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-2610d06>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-0ff7b82>.elementor-container {
    max-width: 1190px;
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-head-buttons {
    justify-content: center;
    margin-bottom: 41px;
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-btn {
    Padding: 0px 18px 0px 18px;
    font-family: "Playfair Display", Sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: var(--e-global-color-0fe7c7c);
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-btn.active {
    color: var(--e-global-color-primary);
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-btn:hover {
    color: var(--e-global-color-primary);
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-content .woocommerce-loop-product__title {
    margin-top: 22px;
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .woocommerce-loop-product__title {
    color: var(--e-global-color-primary);
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 a:hover .woocommerce-loop-product__title {
    color: var(--e-global-color-secondary);
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-transform-loop-price {
    margin-top: 0px;
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .price {
    color: var(--e-global-color-text);
    font-size: 15px;
    font-weight: 400;
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-content .price ins span {
    color: var(--e-global-color-secondary);
    font-size: 15px;
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-content .price del span,
.mintie-products-tab-content .price span {
    color: var(--e-global-color-text);
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-content .price del span {
    font-size: 13px;
}

.elementor-23 .elementor-element.elementor-element-eaa5b06 .products .product {
    margin-bottom: 43px !important;
}

.elementor-23 .elementor-element.elementor-element-eaa5b06>.elementor-widget-container {
    margin: 55px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-de3aff9 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-stacked .elementor-icon {
    background-color: #959595;
}

.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-default .elementor-icon {
    color: #959595;
    border-color: #959595;
}

.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-framed .elementor-icon,
.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-default .elementor-icon svg {
    fill: #959595;
}

.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-stacked .elementor-icon:hover {
    background-color: var(--e-global-color-secondary);
}

.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-framed .elementor-icon:hover,
.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-default .elementor-icon:hover {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-framed .elementor-icon:hover,
.elementor-23 .elementor-element.elementor-element-de3aff9.elementor-view-default .elementor-icon:hover svg {
    fill: var(--e-global-color-secondary);
}

.elementor-23 .elementor-element.elementor-element-de3aff9 .elementor-icon i,
.elementor-23 .elementor-element.elementor-element-de3aff9 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-23 .elementor-element.elementor-element-de3aff9>.elementor-widget-container {
    margin: -23px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-fff495d>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-adf1307:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-adf1307>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-adf1307>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-adf1307>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-012520e>.elementor-element-populated {
    padding: 10px 10px 0px 10px;
}

.elementor-23 .elementor-element.elementor-element-705ce04 {
    --divider-border-style: solid;
    --divider-color: #F3F3F3;
    --divider-border-width: 1px;
}

.elementor-23 .elementor-element.elementor-element-705ce04 .elementor-divider-separator {
    width: 100%;
}

.elementor-23 .elementor-element.elementor-element-705ce04 .elementor-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-23 .elementor-element.elementor-element-a5f9320>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-c70b150:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-c70b150>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-c70b150>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-c70b150>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-c6321e0>.elementor-container {
    max-width: 1190px;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-d819d54.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-d819d54.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-26d97c4 {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-6d0e792.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-6d0e792.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-4d3f0a0 .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.elementor-23 .elementor-element.elementor-element-4d3f0a0>.elementor-widget-container {
    margin: 3px 0px -10px 0px;
}

.elementor-23 .elementor-element.elementor-element-cee78fd {
    font-family: "DM Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

.elementor-23 .elementor-element.elementor-element-cee78fd>.elementor-widget-container {
    margin: -9px 0px -10px 0px;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-05cc547.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-05cc547.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-db9da61 {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-d8acc40.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-d8acc40.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-1e83723 .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.elementor-23 .elementor-element.elementor-element-1e83723>.elementor-widget-container {
    margin: 3px 0px -10px 0px;
}

.elementor-23 .elementor-element.elementor-element-d4063a2 {
    font-family: "DM Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

.elementor-23 .elementor-element.elementor-element-d4063a2>.elementor-widget-container {
    margin: -9px 0px -10px 0px;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-fbfb903.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-fbfb903.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-676f8c9 {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-50201b9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-50201b9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-cb01f3f .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.elementor-23 .elementor-element.elementor-element-cb01f3f>.elementor-widget-container {
    margin: 3px 0px -10px 0px;
}

.elementor-23 .elementor-element.elementor-element-2a30dd6 {
    font-family: "DM Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

.elementor-23 .elementor-element.elementor-element-2a30dd6>.elementor-widget-container {
    margin: -9px 0px -10px 0px;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-2b166c3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-2b166c3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-9449f5c {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-bcea400.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-bcea400.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-3587123 .elementor-heading-title {
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.elementor-23 .elementor-element.elementor-element-3587123>.elementor-widget-container {
    margin: 3px 0px -10px 0px;
}

.elementor-23 .elementor-element.elementor-element-cbbda08 {
    font-family: "DM Sans", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

.elementor-23 .elementor-element.elementor-element-cbbda08>.elementor-widget-container {
    margin: -9px 0px -10px 0px;
}

.elementor-23 .elementor-element.elementor-element-2e959f2>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-53d9ff0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-53d9ff0>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-53d9ff0>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-53d9ff0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-b2e4a1e>.elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-23 .elementor-element.elementor-element-46b82c7 {
    --divider-border-style: solid;
    --divider-color: #F3F3F3;
    --divider-border-width: 1px;
}

.elementor-23 .elementor-element.elementor-element-46b82c7 .elementor-divider-separator {
    width: 100%;
}

.elementor-23 .elementor-element.elementor-element-46b82c7 .elementor-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-23 .elementor-element.elementor-element-6e265b7>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-6e265b7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-6e265b7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-0774535>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-0774535>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-d3bba77 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-d3bba77>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-a4b7179:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-a4b7179>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
    background-image: url("https://mintie.boostifythemes.com/wp-content/uploads/2021/10/bg-testi-h5-ok.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}

.elementor-23 .elementor-element.elementor-element-a4b7179>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 10px 0px 10px;
}

.elementor-23 .elementor-element.elementor-element-a4b7179>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-327258a {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-327258a .elementor-heading-title {
    font-family: "Playfair Display", Sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.elementor-23 .elementor-element.elementor-element-67729fe>.elementor-container {
    max-width: 800px;
}

.elementor-23 .elementor-element.elementor-element-67729fe {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-67729fe>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .testimonial-order {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .tetimonial-content {
    text-align: center;
    color: var(--e-global-color-primary);
    font-size: 24px;
    line-height: 1.7em;
    letter-spacing: 0.5px;
    margin: 18px 90px 32px 90px;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .testimonial--rate span {
    color: #ffbc58;
    font-size: 16px;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .testimonial-icon .icon {
    color: #F0ECE8;
    font-size: 50px;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .testimonial-icon .icon-svg svg {
    fill: #F0ECE8 !important;
    width: 50px;
    height: auto;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .testimonial--name {
    color: var(--e-global-color-primary);
    font-family: "DM Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .testimonial-position-name {
    color: var(--e-global-color-0fe7c7c);
    font-size: 15px;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .mintie-arrows {
    color: #2d3448;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .mintie-testimonial-widget .slick-dots li {
    background-color: #2d3448;
}

.elementor-23 .elementor-element.elementor-element-3d871ef .mintie-testimonial-widget .testimonial-slider-dots .slick-dots {
    bottom: 35px;
}

.elementor-23 .elementor-element.elementor-element-3d871ef>.elementor-widget-container {
    margin: -25px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-4433e45>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-d04ac87>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-d04ac87>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-3b8b3f7>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-423d450:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-23 .elementor-element.elementor-element-423d450>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-23 .elementor-element.elementor-element-423d450>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-423d450>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23 .elementor-element.elementor-element-251742b {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-251742b .elementor-heading-title {
    font-family: "Playfair Display", Sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0px;
}

.elementor-23 .elementor-element.elementor-element-251742b>.elementor-widget-container {
    margin: 47px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-b2776b5>.elementor-container {
    max-width: 1190px;
}

.elementor-23 .elementor-element.elementor-element-b2776b5 {
    margin-top: 0px;
    margin-bottom: 28px;
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-detail-box-slider,
.blog-category {
    text-align: center;
}

.elementor-23 .elementor-element.elementor-element-3614924 .mintie-blog-slider-widget .blog-detail-box-slider {
    padding: 0px 15px 29px 15px;
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-box-slider {
    background-color: #fff;
}

.elementor-23 .elementor-element.elementor-element-3614924 .mintie-blog-slider-widget .blog-category a {
    color: #7f6d4d;
    background-color: #faf3e8;
}

.elementor-23 .elementor-element.elementor-element-3614924 .mintie-blog-slider-widget .blog-category a:hover {
    color: #FFFFFF;
    background-color: var(--e-global-color-secondary);
}

.elementor-23 .elementor-element.elementor-element-3614924 h3.blog-entry-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0px;
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-entry-title a {
    color: #2d3448;
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-entry-title a:hover {
    color: #ce373a;
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-entry-title {
    margin-top: 22px;
}

.elementor-23 .elementor-element.elementor-element-3614924 .entry-meta {
    font-size: 15px;
}

.elementor-23 .elementor-element.elementor-element-3614924 .mintie-blog-slider-widget .blog-header-info .entry-meta {
    color: #858585;
}

.elementor-23 .elementor-element.elementor-element-3614924 .mintie-blog-slider-widget .blog-header-info .entry-meta .if-item span {
    color: #858585;
}

.elementor-23 .elementor-element.elementor-element-3614924 .mintie-blog-slider-widget .blog-header-info .entry-meta .if-item a {
    color: #858585;
}

.elementor-23 .elementor-element.elementor-element-3614924 .mintie-blog-slider-widget .blog-header-info .entry-meta .if-item a:hover {
    color: #ce373a;
}

.elementor-23 .elementor-element.elementor-element-3614924 .mintie-blog-slider-widget .blog-header-info {
    margin-top: -8px;
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-read-more a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #2d3448;
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-read-more a:hover {
    color: var(--e-global-color-secondary);
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-read-more {
    margin-top: 12px;
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-slider-dots .dots-bullet:after {
    background-color: #2d3448;
}

.elementor-23 .elementor-element.elementor-element-3614924 .blog-slider-dots .slick-dots {
    margin-top: 20px;
}

.elementor-23 .elementor-element.elementor-element-3614924 .arrows-widget .elementor-23 .elementor-element.elementor-element-3614924 .arrows-widget .arrows-next:before {
    color: #2d3448;
}

.elementor-23 .elementor-element.elementor-element-3614924>.elementor-widget-container {
    margin: -6px 0px 0px 0px;
}

.elementor-23 .elementor-element.elementor-element-d0642d7>.elementor-container {
    max-width: 1290px;
}

.elementor-23 .elementor-element.elementor-element-d0642d7 {
    margin-top: 0px;
    margin-bottom: -1px;
}

.elementor-23 .elementor-element.elementor-element-431e46f>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23 .elementor-element.elementor-element-431e46f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

body.elementor-page-23:not(.elementor-motion-effects-element-type-background),
body.elementor-page-23>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F3F3F3;
}

@media(max-width:1024px) {
    .elementor-23 .elementor-element.elementor-element-f475b95>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-a799a02>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-7a6c77c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-bf6d959>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-8b20b36 .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-23 .elementor-element.elementor-element-0432fdc .countdown-mintie-widget {
        justify-content: center;
    }

    .elementor-23 .elementor-element.elementor-element-dca9cd2 .woocommerce-loop-product__title {
        line-height: 1.5em;
    }

    .elementor-23 .elementor-element.elementor-element-dca9cd2 .slick-slide {
        margin: 0 15px;
    }

    .elementor-23 .elementor-element.elementor-element-dca9cd2 .slick-list {
        margin-left: -15px;
        margin-right: -15px;
    }

    .elementor-23 .elementor-element.elementor-element-f711453>.elementor-element-populated {
        padding: 60px 20px 80px 20px;
    }

    .elementor-23 .elementor-element.elementor-element-eaa5b06 .woocommerce-loop-product__title {
        line-height: 1.5em;
    }

    .elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-transform-loop-price {
        margin-top: 0px;
    }

    .elementor-23 .elementor-element.elementor-element-3d871ef .testimonial-order {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-3d871ef .tetimonial-content {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-251742b .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-23 .elementor-element.elementor-element-3614924 .mintie-blog-slider-widget .blog-detail-box-slider {
        padding: 0px 15px 20px 15px;
    }

    .elementor-23 .elementor-element.elementor-element-3614924 .blog-entry-title {
        margin-top: 20px;
    }
}

@media(min-width:768px) {
    .elementor-23 .elementor-element.elementor-element-0bf5758 {
        width: 31%;
    }

    .elementor-23 .elementor-element.elementor-element-d69516a {
        width: 37.333%;
    }

    .elementor-23 .elementor-element.elementor-element-11bad98 {
        width: 31%;
    }

    .elementor-23 .elementor-element.elementor-element-660c00b {
        width: 57.638%;
    }

    .elementor-23 .elementor-element.elementor-element-5656bae {
        width: 42.284%;
    }

    .elementor-23 .elementor-element.elementor-element-0383ea4 {
        width: 30%;
    }

    .elementor-23 .elementor-element.elementor-element-832ef81 {
        width: 39.332%;
    }

    .elementor-23 .elementor-element.elementor-element-ea3f41d {
        width: 30%;
    }

    .elementor-23 .elementor-element.elementor-element-d819d54 {
        width: 32.342%;
    }

    .elementor-23 .elementor-element.elementor-element-6d0e792 {
        width: 67.658%;
    }

    .elementor-23 .elementor-element.elementor-element-05cc547 {
        width: 32.342%;
    }

    .elementor-23 .elementor-element.elementor-element-d8acc40 {
        width: 67.658%;
    }

    .elementor-23 .elementor-element.elementor-element-fbfb903 {
        width: 32.342%;
    }

    .elementor-23 .elementor-element.elementor-element-50201b9 {
        width: 67.658%;
    }

    .elementor-23 .elementor-element.elementor-element-2b166c3 {
        width: 32.342%;
    }

    .elementor-23 .elementor-element.elementor-element-bcea400 {
        width: 67.658%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-23 .elementor-element.elementor-element-0bf5758 {
        width: 30%;
    }

    .elementor-23 .elementor-element.elementor-element-d69516a {
        width: 40%;
    }

    .elementor-23 .elementor-element.elementor-element-11bad98 {
        width: 30%;
    }

    .elementor-23 .elementor-element.elementor-element-660c00b {
        width: 50%;
    }

    .elementor-23 .elementor-element.elementor-element-5656bae {
        width: 50%;
    }

    .elementor-23 .elementor-element.elementor-element-a4b5999 {
        width: 50%;
    }

    .elementor-23 .elementor-element.elementor-element-ee58233 {
        width: 50%;
    }

    .elementor-23 .elementor-element.elementor-element-349e6ed {
        width: 50%;
    }

    .elementor-23 .elementor-element.elementor-element-30398f9 {
        width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-23 .elementor-element.elementor-element-b710be3 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-23 .elementor-element.elementor-element-5656bae>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-23 .elementor-element.elementor-element-7a6c77c>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-bf6d959>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-9e541cd {
        margin-top: -8px;
        margin-bottom: 0px;
    }

    .elementor-23 .elementor-element.elementor-element-8b20b36 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-23 .elementor-element.elementor-element-0432fdc .countdown-mintie-widget {
        justify-content: center;
    }

    .elementor-23 .elementor-element.elementor-element-dca9cd2 .woocommerce-loop-product__title {
        margin-top: 20px;
    }

    .elementor-23 .elementor-element.elementor-element-dca9cd2 .slick-slide {
        margin: 0 5px;
    }

    .elementor-23 .elementor-element.elementor-element-dca9cd2 .slick-list {
        margin-left: -5px;
        margin-right: -5px;
    }

    .elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-btn {
        Padding: 0px 10px 10px 10px;
        font-size: 25px;
    }

    .elementor-23 .elementor-element.elementor-element-eaa5b06 .mintie-products-tab-head-buttons {
        margin-bottom: 30px;
    }

    .elementor-23 .elementor-element.elementor-element-eaa5b06 .products .product {
        margin-bottom: 30px !important;
    }

    .elementor-23 .elementor-element.elementor-element-eaa5b06>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-23 .elementor-element.elementor-element-26d97c4 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-4d3f0a0 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-cee78fd {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-d611e70 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .elementor-23 .elementor-element.elementor-element-db9da61 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-1e83723 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-d4063a2 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-d08050d {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .elementor-23 .elementor-element.elementor-element-676f8c9 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-cb01f3f {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-2a30dd6 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-5e59704 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .elementor-23 .elementor-element.elementor-element-9449f5c {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-3587123 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-cbbda08 {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-327258a .elementor-heading-title {
        font-size: 40px;
    }

    .elementor-23 .elementor-element.elementor-element-3d871ef .testimonial-order {
        text-align: center;
    }

    .elementor-23 .elementor-element.elementor-element-3d871ef .tetimonial-content {
        text-align: center;
        font-size: 20px;
        margin: 30px 20px 30px 20px;
    }

    .elementor-23 .elementor-element.elementor-element-251742b .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-23 .elementor-element.elementor-element-d0642d7 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}